<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
  </head>
  <body>
    <img src="https://shop.tiendamaster.com.mx/img/logo.png" alt="Logo">
    <h1>Invoice #{{ .ID }}</h1>
    <p>Customer: {{ .Customer.Name }}</p>
    <p>Date: {{ .Date.Format "2006-01-02" }}</p>
    <table width="100%">
      <tr>
        <th>Article</th>
        <th>Price</th>
      </tr>
      {{ range .Articles }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Price }}</td>
      </tr>
      {{ end }}
    </table>
    <p>Total: {{ .Total }}</p>
    <p>Tax: {{ .Tax }}</p>
  </body>
</html>

